<!-- <form name="loginForm">
    <div class="form-group">
        <label for="user-email">Email address</label>
        <input type="email" class="form-control" id="user-email" placeholder="Email" name="email" required="" ng-model="user.email">
    </div>
    <div class="form-group">
        <label for="user-password">Password</label>
        <input type="password" class="form-control" id="user-password" placeholder="Password" name="password" required="" ng-model="user.password">
    </div>
    <button type="submit" class="btn btn-default">Login</button>
</form> -->
<!-- <form action="http://sarthakbatra.com/loginSubmit" method="POST" name="loginForm">
  <div class="form-group">
      <label for="user-email">Email address</label>
      <input type="email" class="form-control" id="user-email" placeholder="Email" name="email" required="">
    </div>
    <div class="form-group">
      <label for="user-password">Password</label>
      <input type="password" class="form-control" id="user-password" placeholder="Password" name="password" required="">
    </div>
    <button type="submit" class="btn btn-default">Login</button>
</form> -->
<!-- <form>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label> -->
        <!-- here it gets email by using ng-model="email" attribute -->
        <!-- <input type="text" class="form-control" id="user-email" placeholder="Email" ng-model="email">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="user-password" placeholder="Password">
    </div> -->
    <!-- here {{email}} is a angularjs componet to call the any value stored inside the 'email' instant -->
    <!-- <div class='welcome-message'>Welcome Back {{email}}</div>
    <div type="submit" class="btn btn-default">Login</div>
</form> -->





<!--
/*input.ng-invalid {
            border: 1px solid red;
        }*/
    /*.ng-invalid {
        border: 1px solid red;
    }*/ -->






    <!-- // USED CODE FOR TESTING ONLY


    // // Runs when HTML file is loaded
    // $(document).ready(function() {
    //     $('#user-email').on('keypress',function() {
    //         console.log($('#user-email').val())
    //     });
    // });
    //
    // // $('#user-email').on('keypress',function() {
    // // $('#user-email').on('keyup',function() {
    // $('#user-email').on('input',function() {
    //         var email = $('#user-email').val()
    //         var message = 'Welcome Back, ' + email;
    //         $('.welcome-message').text(message);
    //     }); -->





<!-- 
    // $scope.restaurant = restaurants[$routeParams.id - 1];
    // $scope.getIngredients = function(url) {
    // 	var data = '{"inputs":[{"data":{"image":{"url":"' + url + '"}}}]}'
    // 								var data = '{"inputs":[{"data":{"image":{"url":"http://noblepig.com/images/2016/06/Avocado-and-Three-Bean-Salad-is-perfect-for-a-summertime-barbecue-side-dish.JPG"}}}]}'
    // 					$http({
    // 							'method': 'POST',
    // 							'url': 'https://api.clarifai.com/v2/models/bd367be194cf45149e75f01d59f77ba7/outputs',
    // 							'headers': {
    // 								'Authorization': 'Key YOUR_API_KEY',
    // 								'Content-Type': 'application/json'
    // 							},
    // 						})
    // 						// 	'data': data,
    // 						// 	success: function (response) {
    // 						// 		var ingredients = response.outputs[0].data.concepts;
    // 						// 			var list = '';
    // 						// 			for (var i =0;i<ingredients.length;i++) {="" list="" +="<div class="ingredient">" ingredients[i].name="" '<="" div="">'
    // 						// 			}
    // 						// 		$('.ingredients').html(list);
    // 						//     },
    // 						//     error: function (xhr) {
    // 						//     	console.log(xhr);
    // 						//     }
    // 						// })</ingredients.length;i++)> -->
