<!-- login page details code here to route into view div -->
<div class="login" ng-controller="loginController">
    <div class="login-form">
        <h3> Login </h3>
        <form name="loginForm">
            <div class="form-group">
                <label for="user-email">Email address</label>
                <input type="email" class="form-control" id="user-email" placeholder="Email" name="email" ng-model="user.email" required="">
                <!-- code for showing required and valid and not valid massage -->
                <div ng-show="loginForm.email.$error.required">Required!</div>
                <div class="errormassage" ng-show="loginForm.email.$error.email">This doesn't look like a valid email</div>
            </div>
            <div class="form-group">
                <label for="user-password">Password</label>
                <input type="password" class="form-control" id="user-password" placeholder="Password" name="password" required="" ng-model="user.password" ng-minlength="6" ng-maxlength="15">
                  <!-- code fro check and show the issue in password -->
                <div class="errormassage" ng-show="loginForm.password.$error.minlength">
                Password must be at least 6 characters long
                </div>
                <div class="errormassage" ng-show="loginForm.password.$error.maxlength">
                Password must be at most 15 characters long
                </div>
                <div ng-show="loginForm.password.$error.required">
                Please enter your super secret ninja password
                </div>
            </div>
            <!-- ng-disabled used for desabling login button till the user entered information is not right -->
            <button type="submit" class="btn btn-default" ng-disabled="loginForm.$invalid">Login</button>
        </form>
    </div>
</div>
